.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
  user-select: none;
}

.App-button {
    position: relative;
    overflow: hidden;
    width: calc(15px + 20vmin);
    border-radius: 20px;
    background:  #0eacd7;
    margin-top: 20px;
    text-shadow: 1px 1px 3px #0c9cc4;
    font-size: calc(14px + 2vmin);
    font-weight: 700;
    /* font: 700 25px 'Consolas', sans-serif; */
    padding: 10px;
    min-width: 92px;
    color: #ffffff;
    transition: all ease-in-out 0.5s;
    transform: scale(1);
    cursor: pointer;
    outline: 0;
    border: 0;
    will-change: transform;
}

.App-button:hover {
  transform: scale(1.1);
  background: #61dafb;
}


.like-icon  {
  /* display: none; */
  position: absolute;
  max-width: 300px;
  height: auto;
  content: url("./love.svg");
  display: block;
  animation: App-like-effect 2s;
  z-index: 1;
}


@keyframes App-logo-spin {
  0 {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -50%);
  }
   100% {
    transform: translate(0, 0);
  }
}

@keyframes App-like-effect {
    from {
        opacity: 1;
        transform: scale(0);
        top: 45%;
        }
  
    to {
        opacity: 0;
        transform: scale(0.5);
        top: -40%;
    }
}